@* Views/Categories/Display.cshtml *@
@model QLQCF.Models.Category

<h2>Chi Tiết Danh Mục</h2>
<div class="card p-3">
    <h3>@Model.Name</h3>
    <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
</div>


